@import 'index';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-weight: $font-weight;
    color: $font-color-primary;
    background-color: $white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100%;
    top: 0;
    padding: 1rem 4rem;
    min-height: 10vh;
    background-color: $white;

    img {
        max-width: 2.5rem;
    }

    nav {
        min-width: 4rem;

        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            min-width: 8.5rem;

            li {
                padding-left: 2rem;
            }
        }
    }

    .nav-links {
        position: absolute;
        top: 5.5rem;
        right: 4rem;
        padding: 1rem 2rem;

        li {
            margin: 1rem auto;
        }
    }
}

footer {
    padding: 2rem 4rem;

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 4rem; 

        .about, .contact, .feedback {
            // background-color: grey;
            width: 15rem;
            min-height: 15rem;
        }
    }

    .copyrights {
        margin-top: 4rem;
        text-align: center;
    }
}